body {
  color: rgb(10, 1, 48);
  font-weight: bold;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #ececec;
  margin: 0px;
  padding: 0px;
}

.amount {
  font-family: 'Open Sans', sans-serif;
  color: rgb(10, 1, 48) !important;
}

.subtext {
  color: rgb(10, 1, 48) !important;
  width: 100% !important;
}

.subtitle {
  font-size: 20px;
  color: rgb(10, 1, 48) !important;
}

.threeboxProfileHover__style_boxShortAddress {
  color: rgb(10, 1, 48);
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  @media screen and (max-width: 475px) {
    font-size: 2.5rem !important;
    color: rgb(10, 1, 48) !important;
  }
}

.title {
  font-size: 30px;
  line-height: 15px;
  color: rgb(10, 1, 48) !important;
}

.button {
  padding: 10px 15px !important;
  color: whitesmoke !important;
  &.grey {
    background: rgb(10, 1, 48) !important;
    border-radius: 3px;
  }
}

.formErrors {
  color: red;
  font-size: 12px;
}

.pill {
  border-radius: 20px !important;
  padding: 8px 20px !important;
  background: hsla(0, 0, 50%, 0.3) !important;
}

.uncolored {
  color: rgb(10, 1, 48) !important;
}

.blurred {
  background: white !important;
}

.transparent {
  background: transparent !important;
}

.blurred.box {
  padding: 30px;
}

#background {
  .white {
    background-color: #ececec;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background: url("assets/rosebudBg.jpg") 0 / cover fixed;
    background-repeat: repeat !important;
  }
}

.navElement {
  color: rgb(10, 1, 48) !important;
    font-size: 18px !important;
}

.navElement:hover {
  color:  rgb(53, 36, 133) !important;
  cursor: pointer;
}

#header {
  height: 90px;
  width: 100%;
  color: rgb(10, 1, 48) !important;
  margin-top: 50px;

  .menu {
    font-size: 18px;
    color: rgb(10, 1, 48) !important
  }

  .right_dropdown>.text {
    color: rgb(10, 1, 48) !important;
  }
  .logo {
    font-size: 20px;
    text-decoration: none;
    color: rgb(10, 1, 48) !important;
    font-weight: 600;
    letter-spacing: 0.08em;
    a {
      color: inherit;
    }
  }
  .dropdown {
    .label {
      font-size: 20px;
    }
    .menu {
      background-color: white !important;
      padding: 10px 20px;
      font-size: 15px;
      input {
        color: rgb(10, 1, 48);
        margin-bottom: 5px;
        border-color:lightgray;
      }
      .button {
        padding: 10px 20px !important;
        margin-top: 5px;
      }
      .item {
        padding: 15px 10px !important;
        color: rgb(10, 1, 48);
      }
      .item:hover:not(.submenu) {
        color:  rgb(53, 36, 133);
        cursor: pointer;
      }
      .link {
        color: rgb(10, 1, 48) !important;
      }

      .link:hover {
        color:  rgb(53, 36, 133);
        cursor: pointer;
      }

      .dropdownItems i {
        margin-right: 12px;
      }
    }
  }
}


#wrapper {
  margin: auto;
  width: 100%;
}

#login {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

#homepage {
  margin: auto;
  .graph {
    width: 100%;
    height: 60vh;
  }
  .graph_values {
    padding-left: 20px;
    padding-right: 20px;

    .amount {
      font-size: 30px;
      line-height: 15px;
    }
  }
  .text_link {
    color: rgb(10, 1, 48) !important;
  }

  .text_link:hover {
    color:  rgb(53, 36, 133);
    cursor: pointer;
  }

#homeSegment {
  height: 295px;
  width: 100%;
}

#homeSegment2 {
  padding: 45px;
  height: 170px;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

  
  @media screen and (min-width: 320px) and (max-width: 375px) { 
    .btn_link {
      margin-bottom:  10px !important;
      margin-left: 0px !important;
      width: 200px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .graph_values {
      text-align: center !important;
      .amount {
        font-size: 14px !important;
        line-height: 20px !important;
      }
      .subtext {
        margin-bottom: 5px !important;
      }
    }
    .blurred {
      padding-left: 10px !important;
      padding-right: 10px !important;
      background-color: white;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 

    .btn_link {
      margin-bottom:  10px !important;
      margin-left: 0px !important;
      width: 200px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .graph_values {
      text-align: center !important;
      .amount {
        font-size: 14px !important;
        line-height: 20px !important;
      }
      .subtext {
        margin-bottom: 5px !important;
      }
    }
    .blurred {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}


#mainHeader {
  padding: 20px;
  margin-bottom: 0;
  letter-spacing: .10em;
}

#bankBalance {
  font-weight: bold;
  padding: 15px;
  letter-spacing: .15em;
  color: rgb(10, 1, 48) !important;

  text-shadow: 
    -1px 2px 1px #bdbdbd2c, 
    -2px 4px 1px #bdbdbd2c, 
    -3px 6px 1px #bdbdbd2c,
    -4px 8px 1px #bdbdbd2c,

}

#ethExchange {
  color: rgba(144, 145, 151, 0.507);
  font-weight: 500;
  margin: 25px;
  letter-spacing: .15em;
}

#subValue {
  font-weight: 600;
  color: rgb(10, 1, 48) !important;
}

#subText {
  margin-top: 5px;
  color: rgba(144, 145, 151, 0.507);
}

#member_list {
  width: 100%;
  .name {
    margin: 10px 30px 0;
    color: rgb(10, 1, 48) !important;
  }
  .divider {
    margin: 0;
    color: rgb(10, 1, 48) !important; 
  }
  .members_row {
    .member {
      margin-bottom: 80px !important;
    }
  }

  .profile {
    margin-right: 10px !important;
  }

  @media screen and (min-width: 320px) and (max-width: 375px) { 
  
    .submit_button, .member_list_header {
      text-align: center !important;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 
  
    .submit_button, .member_list_header {
      text-align: center !important;
    }
  }
}

#EldersSegment {
  padding: 30px 20px 50px;
  margin-top: -10px;
}

#ContributorsSegment {
  padding: 30px 20px 50px;
}

#member_detail {
  .details {
    margin-top: 10px;
    color: rgb(10, 1, 48) !important;
  }
  .blurred.box {
    padding: 20px 60px;
  }
  .amount {
    font-size: 25px;
    line-height: 15px;
  }
  .avatar {
    margin: 20px 0px;
    font-size: 20px;
  }
  .user {
    .segment {
      height: 100%;
    }
  }
  .user, .proposals{
    height: 550px !important;
  }
  .proposals {
    .segment {
      height: 100%;
      overflow-y: scroll;
    }
    .header {
      margin-bottom: 5px;
    }
    p {
      font-size: 1rem;
      color: rgb(10, 1, 48) !important;
    }
    .dot {
      margin-right: 10px;
    }
    .divider {
      margin: 10px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 375px) { 

    .blurred.box { padding: 30px 7px !important; }
    .user { height: auto !important; }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 
  
    .blurred.box { padding: 30px 20px !important; }
    .user { height: auto !important; }
    .proposals {margin-top: 20px !important}
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) { 
  
    .blurred.box { padding: 30px 20px !important; }
    .user { height: auto !important; }
    .proposals {margin-top: 20px !important}
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1366px) { 
  
    .blurred.box { padding: 30px 20px !important; }
  }
  
}

.progress{
  &.pair{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
    height: 1.75em;

    .bar{
      border-radius: 0;
      display: flex;
      align-items: center;
      padding: 0 0.5em;
      justify-content: flex-end;
      height: 100%;

      &--right{
        justify-content: flex-start;
      }

      &--green {
        background-color: #2bba45;
      }
      &--red {
        background-color: #c42525;
      }

      .progress{
        margin-top: 0;
        left: initial;
        top: initial;
        right: initial;
        color: #fff;
        font-weight: bold;
      }
    }
  }

  .bar {
    border-radius: 3px;
  }
}

#proposal_list {
  .name {
    padding-top: 13px;
    font-size: 23px;
    color: rgb(10, 1, 48) !important;
    overflow-y: auto;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
  }
  .name::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }
  .description {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: -10px;
    height: 9vh;
    overflow-y: auto;
  }

  .description::-webkit-scrollbar {
    display: none;
  }

  .value_shares {
    .amount {
      font-size: 20px;
      line-height: 15px;
      padding-left: 70px;
      padding-top: 3px;
    }
  }
  .deadlines {
    margin-top: 15px  auto;
    margin-bottom: 5px;
    .voting {
      border-radius: 3px !important;
      width: 100% !important;
    }
    .grace {
        opacity: 0.5;
    }
  }
 
  #amountYesNo {
    margin-top: -10px !important;
    padding: 18px ;
  }

  #newPorposalDropdown{
    position: absolute;
    margin-left: 88.4%;
    color: rgb(10, 1, 48);
  }

  .ui.secondary.menu {
    overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox

    a {
      font-size: 20px;
    }

    .item {
      color: rgb(10, 1, 48);
      font-size: 15px !important;
    }

    .item:hover {
      color: rgb(53, 36, 133) !important;
    }

    .active.item {
      border-color: rgb(6, 1, 32);
    }
  }

  .ui.text.menu .item {
    font-size: 18px !important;
  }

  .ui.text.menu .active.item {
    font-weight: 600 !important ;
  }

  .ui.secondary.menu::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }

  .ui.segment.active.tab {
    padding: 30px;
  }

  .ui.small.progress.hide-bar {
    .bar {
      background-color: transparent
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 374px) {
    .blurred.box { padding: 30px 7px; }
    #newPorposalButton { margin-left: 0;}
  }

  @media only screen and (min-width: 375px) and (max-width: 424px) {
    .blurred.box { padding: 30px 15px; }
    #newPorposalButton { margin-left: 0;}
  }

  @media only screen and (min-width: 320px) and (max-width: 425px) {
    .pill { padding: 8px 10px !important; }
    #newPorposalButton { margin-left: 0;}

  }
}

#proposal_detail {
  padding-top: 20px;
  .title {
    margin-top: 25px !important;
    margin-bottom: 10px;
  }
  .tokens {
    margin: 30px auto;
  }
  .amount {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 15px;
  }
  .amount.right {
    float: right;
  }
  .amount.light {
    font-weight: 600;
  }
  .address {
    font-size: 20px;
    line-height: 15px;
    color: #0a0130;
  }
  .grace {
    opacity: 0.5;
  }
  .members_row {
    .image {
      width: 60px !important;
    }
    .button {
      width: 60px ;
      padding: 22px ;
      margin-top: 0.20em !important;
    }

  }
  .ui.raised.segment {
    padding: 25px !important;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .description {
    text-align: justify !important;
    min-height: 12vh;
    margin-top: 20px;
  }

  .member_list {
    min-height: 20vh;
  }
  
  .member_avatar {
    margin-top: 0px;
  }

  .btn {
    min-width: 100px;
  }
  
  .pill {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .pill_column {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .segment {
    min-width: 100% !important;
  }

  .ui.small.progress.hide-bar {
    .bar {
      background-color: transparent
    }
  }
  
  .subtext.description.wordwrap {
    font-weight: 500 !important;
    font-size: 15px;
    height: 0vh !important;
    padding-top: 10px;
    margin-bottom: -40px !important;
  }
  
  @media screen and (min-width: 320px) and (max-width: 375px) { 
    .pill_column {
      text-align: center !important;
    }
    .pill {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .btn {
      width: 100px !important;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 
    .pill_column {
      text-align: center !important;
    }
    .pill {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .btn {
      width: 100px !important;
    }
    .tributes {
      margin-top: 10px !important;
    }
    .caret_btn {
      width: 60px !important;
      height: 60px !important;
      padding: 22px !important;
      }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1825px) { 
    .btn {
      min-width: 100px !important;
    }
    .tributes {
      margin-top: 10px !important;
      padding: 5px !important;
    }

    .caret_btn {
      width: 50px !important;
      height: 50px !important;
      padding: 0 !important;
      }
  }
  
  @media screen and (min-width: 1325px )   { 
    .pill {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .caret_btn {
      width: 60px !important;
      height: 60px !important;
      padding: 22px !important;
    }
  }
}

#member_detail {
  .ui.raised.segment {
    padding: 25px !important;
  }
  .delegateKey {
    color: rgb(10, 1, 48);
    font-size: small;
    padding-top: 10px;
  }
}

#proposal_submission {
  padding-top: 30px;
  input, textarea, select, .dropdown {
    background-color: white;
    color: rgb(53, 36, 133) !important;
    border-color: lightgray ; 
    font-size: 18px;
  }
  label {
    color: rgb(10, 1, 48) !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    padding: 5px;
  }
  i {
    float: left !important;
  }
  ::placeholder {
    color: lightgray !important;
  }

  #titleInput {
    font-weight: 600;
    font-size: 20px;
  }

  .amount {
    font-size: 25px;
    line-height: 15px;
  }
  .blurred.box {
    height: 100%;
    background-color: white;
  }
  .delete_icon {
    margin-top: 8px;
    text-align: center;
  }
  .assets_field {
    overflow-y: auto;
    min-height: 150px;
    max-height: 200px;
  }
  .submit_button {
    text-align: center !important;
    padding-bottom: 10px;
  }
  
  .computer_delete_icon {
    display: block;
  }
  .mobile_delete_icon {
    display: none;
  }

  .icon_asset{
    padding: 0 !important;
  }
  
  .icon_asset input {
    padding-left: 2em !important;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) { 

    .asset {
      min-width: 100% !important;
    }
    .membership .asset i {
      width: 30px;
    }
    .proposal_currency_dropdown {
      padding-left: 10px !important;
    }
    .assets_field {
      min-height: 100px !important;
    }
    .asset_amount {
      padding: 0 !important;
      min-width: 100% !important;
    }
    .blurred.box {
      padding-left: 20px !important;
      padding-right: 20px !important;
      background-color: white;
    }

    .asset_field_grid {
      padding: 2px !important;
      text-align: right !important;
    }
    .asset_field_row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delete_icon, .add_icon {
      float: right !important;
    }
    .computer_delete_icon {
      display: none;
    }
    .mobile_delete_icon {
      display: block;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) { 
  
    .asset {
      min-width: 100% !important;
    }
    .asset_amount {
      padding: 0 !important;
      min-width: 100% !important;
    }
    .blurred.box {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .asset_field_grid {
      padding: 2px !important;
      text-align: right !important;
    }
    .asset_field_row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delete_icon, .add_icon {
      float: right !important;
    }
    .computer_delete_icon {
      display: block;
    }
    .mobile_delete_icon {
      display: none;
    }
  }

  @media screen and (min-width: 1025px) { 
  
    .asset {
      min-width: 100% !important;
    }
    .asset_amount {
      padding: 0 !important;
      min-width: 100% !important;
    }
    .blurred.box {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .asset_field_grid {
      padding: 2px !important;
      text-align: right !important;
    }
    .asset_field_row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delete_icon, .add_icon {
      float: right !important;
    }
    .computer_delete_icon {
      display: block;
    }
    .mobile_delete_icon {
      display: none;
    }
  }
}

.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}