body {
  color: rgb(10, 1, 48);
  font-weight: bold;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #ececec;
}

.amount {
  font-family: 'Open Sans', sans-serif;
  color: rgb(10, 1, 48) !important;
}

.subtext {
  color: rgb(10, 1, 48) !important;
}

.subtitle {
  font-size: 15px;
  color: rgb(10, 1, 48) !important;
}

.threeboxProfileHover__style_boxShortAddress {
  color: white;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  @media screen and (max-width: 475px) {
    font-size: 2.5rem !important;
    color: rgb(10, 1, 48) !important;
  }
}

.title {
  font-size: 30px;
  line-height: 15px;
  color: rgb(10, 1, 48) !important;
}

.button {
  padding: 20px 5px !important;
  color: whitesmoke !important;
  &.grey {
    background: rgb(10, 1, 48) !important;
    border-radius: 5px;
  }
}

.homeContainer {
  
}

.formErrors {
  color: red;
  font-size: 12px;
}

.pill {
  border-radius: 20px !important;
  padding: 8px 20px !important;
  background: hsla(0, 0, 50%, 0.3) !important;
}

.uncolored {
  color: rgb(10, 1, 48) !important;
}

.blurred {
  background: rgba(100, 100, 100, 0.9) !important;
}

.transparent {
  background: transparent !important;
}

.blurred.box {
  background: #F8F9FA !important;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 14px 11px 23px 3px rgba(153, 153, 153, 0.055);
}

#background {
  .white {
    background-color: #ececec;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background: url("assets/rosebudBg.jpg") 0 / cover fixed;
    background-repeat: repeat !important;
  }
}

#header {
  height: 80px;
  width: 100%;
  color: rgb(10, 1, 48) !important;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  .menu {
    font-size: 20px;
    color: rgb(10, 1, 48) !important
  }
  .right_dropdown>.text {
    color: rgb(10, 1, 48) !important;
    padding: 6px !important;
  }
  .logo {
    font-size: 20px;
    text-decoration: none;
    a {
      color: inherit;
    }
    padding: 22px;
    padding-left: 0;
    padding-right: 0;
  }
  .dropdown {
    .label {
      font-size: 15px;
    }
    .menu {
      background-color: whitesmoke !important;
      box-shadow: inset;
      margin-top: 0px;
      padding: 10px;
      font-size: 15px;
      font-weight: normal;
      border-radius: 5px;
      input {
        color: rgb(10, 1, 48);
        margin-bottom: 5px;
      }
      .button {
        padding: 10px 20px !important;
      }
      .item {
        padding: 15px 10px !important;
        color: rgb(10, 1, 48);;
      }
      .item:hover:not(.submenu) {
        color:  rgb(53, 36, 133);
        cursor: pointer;
      }
      .link {
        color: inherit;
      }
      .dropdownItems i {
        margin-right: 12px;
      }
    }
  }
}

#wrapper {
  margin: 30px 50px;
}

#login {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

#homepage {
  .graph {
    width: 100%;
    height: 60vh;
  }
  .graph_values {
    padding-left: 20px;
    padding-right: 20px;

    .amount {
      font-size: 30px;
      line-height: 15px;
    }
  }
  .text_link {
    color: rgb(10, 1, 48) !important;
  }

  
  @media screen and (min-width: 320px) and (max-width: 375px) { 
    .btn_link {
      margin-bottom:  10px !important;
      margin-left: 0px !important;
      width: 200px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .graph_values {
      text-align: center !important;
      .amount {
        font-size: 14px !important;
        line-height: 20px !important;
      }
      .subtext {
        margin-bottom: 5px !important;
      }
    }
    .blurred {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 

    .btn_link {
      margin-bottom:  10px !important;
      margin-left: 0px !important;
      width: 200px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .graph_values {
      text-align: center !important;
      .amount {
        font-size: 14px !important;
        line-height: 20px !important;
      }
      .subtext {
        margin-bottom: 5px !important;
      }
    }
    .blurred {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}

#member_list {
  .name {
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(10, 1, 48) !important;
  }
  .divider {
    margin: 0;
    color: rgb(10, 1, 48) !important; 
  }
  .members_row {
    .member {
      margin-bottom: 40px;
    }
  }
  .member_avatar {
    margin-top: 25px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 375px) { 
  
    .submit_button, .member_list_header {
      text-align: center !important;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 
  
    .submit_button, .member_list_header {
      text-align: center !important;
    }
  }

}

#member_detail {
  .details {
    margin-top: 20px;
  }
  .blurred.box {
    padding: 30px 60px;
  }
  .amount {
    font-size: 25px;
    line-height: 15px;
  }
  .avatar {
    margin: 50px;
  }
  .user {
    .segment {
      height: 100%;
    }
  }
  .user, .proposals{
    height: 550px !important;
  }
  .proposals {
    .segment {
      height: 100%;
      overflow-y: scroll;
    }
    .header {
      margin-bottom: 5px;
    }
    p {
      font-size: 1rem;
      color: rgb(10, 1, 48);
    }
    .dot {
      margin-right: 10px;
    }
    .divider {
      margin: 10px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 375px) { 

    .blurred.box { padding: 30px 7px !important; }
    .user { height: auto !important; }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 
  
    .blurred.box { padding: 30px 20px !important; }
    .user { height: auto !important; }
    .proposals {margin-top: 20px !important}
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) { 
  
    .blurred.box { padding: 30px 20px !important; }
    .user { height: auto !important; }
    .proposals {margin-top: 20px !important}
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1366px) { 
  
    .blurred.box { padding: 30px 20px !important; }
  }
  
}

#proposal_list {
  .name {
    font-size: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
  }
  .name::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }
  .description {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 25vh;
    overflow-y: auto;
  }
  .value_shares {
    padding-left: 20px;
    padding-right: 20px;
    .amount {
      font-size: 25px;
      line-height: 15px;
    }

    margin-bottom: 30px;
  }
  .deadlines {
    margin: 30px auto;
    .voting {}
    .grace {
      opacity: 0.5;
    }
  }
  .progress .bar {
    border-radius: 20px;
  }

  .ui.secondary.menu {
    overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox

    a {
      font-size: 20px;
    }

    .item {
      color: rgb(10, 1, 48);
    }

    .active.item {
      border-color: rgb(6, 1, 32);
    }
  }

  .ui.secondary.menu::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }

  .ui.segment.active.tab {
    background: transparent;
    border-width: 0px;
  }

  .ui.small.progress.hide-bar {
    .bar {
      background-color: transparent
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 374px) {
    .blurred.box { padding: 30px 7px; }
  }

  @media only screen and (min-width: 375px) and (max-width: 424px) {
    .blurred.box { padding: 30px 15px; }
  }

  @media only screen and (min-width: 320px) and (max-width: 425px) {
    .pill { padding: 8px 10px !important; }
  }
}

#proposal_detail {
  .title {
    margin-bottom: 80px;
  }
  .tokens {
    margin: 30px auto;
  }
  .amount {
    font-size: 25px;
    line-height: 15px;
  }
  .address {
    font-size: 20px;
    line-height: 15px;
  }
  .grace {
    opacity: 0.5;
  }
  .members_row {
    .image {
      width: 60px !important;
    }
    .button {
      width: 60px ;
      padding: 22px ;
      margin-top: 0.25em !important;
    }
  }
  .description {
    text-align: justify !important;
    min-height: 25vh;
  }

  .member_list {
    min-height: 25vh;
  }
  
  .member_avatar {
    margin-top: 25px;
  }

  .btn {
    min-width: 200px;
  }
  
  .pill {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .pill_column {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .segment {
    min-width: 100% !important;
  }

  .ui.small.progress.hide-bar {
    .bar {
      background-color: transparent
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 375px) { 
    .pill_column {
      text-align: center !important;
    }
    .pill {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .btn {
      width: 100px !important;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 768px) { 
    .pill_column {
      text-align: center !important;
    }
    .pill {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .btn {
      width: 100px !important;
    }
    .tributes {
      margin-top: 10px !important;
    }
    .caret_btn {
      width: 60px !important;
      height: 60px !important;
      padding: 22px !important;
      }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1825px) { 
    .btn {
      min-width: 100px !important;
    }
    .tributes {
      margin-top: 10px !important;
      padding: 5px !important;
    }

    .caret_btn {
      width: 50px !important;
      height: 50px !important;
      padding: 0 !important;
      }
  }
  
  @media screen and (min-width: 1325px )   { 
    .pill {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .caret_btn {
      width: 60px !important;
      height: 60px !important;
      padding: 22px !important;
    }
  }
}

#proposal_submission {
  input, textarea, select, .dropdown {
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  label {
    color: white;
    opacity: 0.5;
  }
  i {
    float: left !important;
  }
  .amount {
    font-size: 25px;
    line-height: 15px;
  }
  .blurred.box {
    height: 100%;
  }
  .delete_icon {
    margin-top: 8px;
    text-align: center;
  }
  .assets_field {
    overflow-y: auto;
    min-height: 150px;
    max-height: 200px;
  }
  .submit_button {
    text-align: center !important;
  }
  
  .computer_delete_icon {
    display: block;
  }
  .mobile_delete_icon {
    display: none;
  }

  .icon_asset{
    padding: 0 !important;
  }
  
  .icon_asset input {
    padding-left: 2em !important;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) { 

    .asset {
      min-width: 100% !important;
    }
    .membership .asset i {
      width: 30px;
    }
    .proposal_currency_dropdown {
      padding-left: 10px !important;
    }
    .assets_field {
      min-height: 100px !important;
    }
    .asset_amount {
      padding: 0 !important;
      min-width: 100% !important;
    }
    .blurred.box {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .asset_field_grid {
      padding: 2px !important;
      text-align: right !important;
    }
    .asset_field_row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delete_icon, .add_icon {
      float: right !important;
    }
    .computer_delete_icon {
      display: none;
    }
    .mobile_delete_icon {
      display: block;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) { 
  
    .asset {
      min-width: 100% !important;
    }
    .asset_amount {
      padding: 0 !important;
      min-width: 100% !important;
    }
    .blurred.box {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .asset_field_grid {
      padding: 2px !important;
      text-align: right !important;
    }
    .asset_field_row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delete_icon, .add_icon {
      float: right !important;
    }
    .computer_delete_icon {
      display: block;
    }
    .mobile_delete_icon {
      display: none;
    }
  }

  @media screen and (min-width: 1025px) { 
  
    .asset {
      min-width: 100% !important;
    }
    .asset_amount {
      padding: 0 !important;
      min-width: 100% !important;
    }
    .blurred.box {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .asset_field_grid {
      padding: 2px !important;
      text-align: right !important;
    }
    .asset_field_row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delete_icon, .add_icon {
      float: right !important;
    }
    .computer_delete_icon {
      display: block;
    }
    .mobile_delete_icon {
      display: none;
    }
  }

  
  
}

.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}